html body{
	margin:0;
	padding:0;
	width: 100%;
	height:100%;
}
#main{
	width:350px;
	margin:40px auto;
	font-size:1.2em;
}
#main input{
	font-size:1em;
}
#main img{
	position: relative;
	top:12px;
	left:-46px;
}
#img{
	position: relative;
	top:12px;
	left:-46px;
	width:43px;
}
#main input[type="text"]{
	border: none;
	width:200px;
	position: relative;
	top:-28px;
	left:60px;
	/*隐藏*/
	z-index:-10;
}