.login{
	width:420px;
	position: relative;
	top:200px;
	background-color: white;
	margin:0 auto;
	font-size:14px;
	text-align: center;
	border: 1px solid #e2e2e2;
}
.login h1{
	padding-top:32px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
}
.login input{
	width: 198px;
	height:38px;
	margin-top:10px;
	margin-bottom:10px;
	padding-left:10px;
	border: 1px solid #d2d2d2; 
	outline: none;
}
.login label{
	margin-right:5px; 
}
.login input[type="submit"]{
	color:white;
	background-color: #009688;
	font-size:14px;
	width: 90px
}